<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Study DDD project</title>
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Editor's Style -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>
<body id="page-top">
	<div id="wrapper">
		<header th:replace="common/Sidebar::header"></header>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<header th:replace="common/Header::header"></header>
				<div class="container-fluid">
					<form class="row g-3" action="/write" method="post">
						<input type="hidden" id="state" name="state" value="I">
						<div class="col-md-8" style="float: none; margin: 0 auto;">
							<input type="text" class="form-control" name="title" placeholder="제목">
							<div id="editor" style="margin-top: 20px;"></div>
						</div>
						<div class="float-right" style="margin: 20px 17.5%;">
							<a role="button" class="btn btn-outline-secondary" href="BoardList">돌아가기</a>
							<button type="submit" role="button" class="btn btn-primary" >제출하기</button>
						</div>
					</form>
				</div>
			</div>
			<footer th:replace="common/Footer::footer"></footer>
		</div>
	</div>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/sb-admin-2.min.js"></script>
	<script src="vendor/chart.js/Chart.min.js"></script>
	<!-- Editor's Script -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<script>
		const editor = new toastui.Editor({
			el : document.querySelector('#editor'), // 에디터를 적용할 요소 (컨테이너)
			height : '500px', // 에디터 영역의 높이 값 (OOOpx || auto)
			initialEditType : 'wysiwyg', // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
			initialValue : '', // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
			previewStyle : 'vertical' // 마크다운 프리뷰 스타일 (tab || vertical)
		});
	</script>
</body>

</html>